* {
    box-sizing: border-box;
}

header {
    padding: initial;
    text-align: center;
    background-color: black;
}

main {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    font-family: Verdana;
}

img {
    max-width: 100%;
    height: auto;
}

.entete {
    max-width:  160px;
}

h1 {
    font-family: Georgia;
    color: #FDC032;
}

h2 {
    font-family: Georgia;

}


.notation-image {

}

p {
    height: 120%;
    text-align: justify;
}

a {
    a-style-type: none;
    color: #00A24B;
}

a:hover {
    color: #E8A062;
}

li {
    padding: 0%;
}

.burger {
    display: grid;
    grid-template-rows: 20px 20px 20px 20px 20px 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20%;
    background-color: #E8A062;
    padding-top: 10%;
    padding-bottom: 10%;
}

.viende {
    border: solid;
    background-color: #823922;
    border: 100px;
    border-top-color: #FDC032;
    border-bottom-color: #00A24B;
}

footer {
    max-width: 300px;
    border-radius: 20%;
    text-align: center;
    background-color: #E8A062;
}

.seule {
    padding-top: 20px;
    padding-bottom: 20px;
}