* {
    box-sizing: border-box;
}
header {
    text-align: center;
    background-color: black;
}
main {
    font-family: Verdana;
}

img {
    max-width: 100%;
    height: auto;
}

.entete {
    max-width:  160px;
}

h1 {
    font-family: Georgia;
    color: #FDC032;
}

h2 {
    font-family: Georgia;

}


.notation-image {

}

p {
    height: 120%;
    text-align: justify;
}

a {
    a-style-type: none;
    color: #00A24B;
}

a:hover {
    color: #E8A062;
}

li {
    padding: 0%;
}

.beurgeur {
    display: grid;
    grid-template-rows: 50fr 50fr;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20%;
}
.pain {
    background-color: #E8A062;
}
.viende {
    background-color: red;
    border: 100px;
    border-top-color: #FDC032;
    border-bottom-color: #00A24B;
}